<header>
    <title> Main Page</title>
    <h3> Main Page</h3>
    <button type="menu"
            style="height: auto;
                    width: auto;
                    border-style: ridge;
                    border-color: black;"
            onclick="window.location.href='/index2'">Show Blog</button>
    <button type="menu"
            style="height: auto;
                    width: auto;
                    border-style: ridge;
                    border-color: black;"
            onclick="window.location.href='/create'">New Post</button>
    <button type="menu"
            style="height: auto;
                    width: auto;
                    border-style: ridge;
                    border-color: black;"
            onclick="window.location.href='/todos'">New Todo</button>
</header>
{% block content %}
{% endblock %}